.search-div{
    width: 100%;
    margin: 50px auto;
    position: relative;
    float: left;
    clear: both;
    text-align: center;

}

.search_heading{
    width: 65%;
    margin: 15px auto;
    text-align: left;
    color: gray;
    font-size: 18px;
  
}
.search_heading h3{
    font-size: 18px;
    letter-spacing: 1.5px;
}
.search_box{
   width: 65%;
    margin: 15px auto;
    position: relative;
}
.search_box input{
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 15px 10px;
    outline: 0;
    box-shadow: 0px 0px 16px 3px grey;
}

.search_box i{
    position: absolute;
    top: 16px;
    bottom: 0;
    right: 25px;
    font-size: 20px;
}

a{
    background-color: none;
}