.left{
    float: left;
}
.right{
    float: right;
}

.clearfix{
    display: table;
    clear: both;
}


.header{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    right: 0;
    padding: 0px 20px;
    left: 0;
    height: 75px;
    bottom: 0;
    float: left;
}
.header .header_container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    float: left;
}

.header-inner{
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    float: left;
}
.header-inner img{
    width: 100%;
    margin: 0 auto;
    float: left;
}
.header_router{
    width: 90%;
    margin: 0 auto;
    position: relative;
    /* float: right; */
    display: inline-block;
    top: 20px;
}
.header_router ul{
    width: 40%;
    margin: 0 auto;
    position: relative;
    list-style: none;
    color: gray;
    display: inline;
}
.header_router ul li{
    display: inline-block;
    color: gray;
    padding: 0 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.header_router ul li a{
   text-decoration: none;
    color: gray;
}
.header_search{
    display: inline-block;
    width: 37%;
    margin: 0 auto;
    position: relative;
    left: 10%;
}
.header_search input{
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    padding: 7px;
    background-color: lightgray;
    outline: 0;
    padding-left: 20px;

}

.header_search i{
    font-size: 20px;
    color: skyblue;
    padding-left: 10px;
}